/* Centrage de la page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: #357ABD;
}
